.homepage{
    display : flex;
    padding: 20px 80px;
    flex-direction: column;
    align-items: center;
} 
.directory-menu{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.menu-item{
    min-width: 30%;
    height: 250px;
    border: 1px solid #4a4a4a;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    margin: 0 7.5px 15px;

    &:first-child{
        margin-right: 7.5px;
    }
    &:last-child{
        margin-left: 7.5px;
    }
    .content{
        border : 1px solid #4a4a4a;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 25px;
        height : 90px; 
    
    .title{
        font-weight: bold;
        margin-bottom: 6px;
        font-size: 22px;
        color: #4a4a4a;
    }
    .subtitle{
        font-weight: lighter;
        font-size: 16px;
    }
  }
}